* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  float: left;
  background: rgba(255, 255, 255, 0.884);

  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-container {
  float: right;
  height: 99vh;
  width: 59%;
  background-color: rgba(215, 247, 255, 0.884);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pic-container p span {
  display: inline-block;
  margin-top: 180px;
  margin-left: 180px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 4em;
  font-family: Arial, sans-serif;
}
.pic-container h3{
  font-size: 2.5em;
  font-weight: 600;
  font-family:  Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 180px;
}


form {
  border: 2px solid white;
  border-top: 20px solid white;
  margin-top: 20px;
  width: 54%;
  height: 66vh;
  border-radius: 11px;
  background: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.input-group {
  height: 46vh;
}
.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}
.fname {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fname input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4 solid blue;
  border-left: 0px;
  width: 220px;
  transition: 0.7s ease;
}
.fname input:hover {
  transform: scale(1.1);
}

.lname {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lname input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4 solid blue;
  border-left: 0px;
  width: 220px;
  transition: 0.7s ease;
}
.lname input:hover {
  transform: scale(1.1);
}
.email {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4 solid blue;
  border-left: 0px;
  width: 220px;
  transition: 0.7s ease;
}
.email input:hover {
  transform: scale(1.1);
}
.passwd {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwd input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4 solid blue;
  border-left: 0px;
  width: 220px;
  transition: 0.7s ease;
}

.passwd input:hover {
  transform: scale(1.1);
}

.con-paswd {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-paswd input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4 solid blue;
  border-left: 0px;
  width: 220px;
  transition: 0.7s ease;
}

.con-paswd input:hover {
  transform: scale(1.1);
}

.button-group {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-group input {
  border: 1px solid white;
  width: 210px;
  height: 4.5vh;
  background: rgb(97, 12, 99);
  border-radius: 15px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: 0.7s ease;
}

.button-group input:hover {
  transform: scale(1.1);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-family: Arial, sans-serif;
}
.link a {
  text-decoration: none;
  font-family: Arial, sans-serif;
}
